<div class="footer">
    <div class="footer-wrapper">
        <div class="section">
            <div class="d-flex justify-content-between">
                <div>
                    <p id="copy-email" class="text-white paragraph-md font-secondary">{{ site.data.settings.email }}</p>
                </div>
                <div>
                    <!-- TODO: Phone? -->
                    <!-- <p class="text-white paragraph-md font-secondary">{{ site.data.settings.phone }}</p> -->
                </div>
                <div>
                    <p class="text-white paragraph-md font-secondary">{{ site.data.settings.address }}</p>
                </div>
            </div>
        </div>
        <div class="border-top text-center border-dark py-5">
            <p class="mb-0 text-light">&copy; {{ "now" | date: "%Y" }} - Takk Treats</p> 
            <!-- TODO: social -->
            <!-- <p class="mb-0 text-light">Social coming</p> -->
        </div>
    </div>
</div>

<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>