<!-- TODO: fonts need a look -->
<!-- TODO: phone number - add or toss teh section -->
<!-- TODO: add social icons -->
<div class="footer">
    <div class="footer-wrapper">
        <div class="section">
            <div class="d-flex justify-content-between">
                <div>
                    <p id="copy-input" class="text-white paragraph-md font-secondary"
                        value="{{ site.data.settings.email }}">{{ site.data.settings.email }}</p>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard">
                            Copy Email
                        </a>
                </div>
                <div>
                    <p class="text-white paragraph-md font-secondary">{{ site.data.settings.phone }}</p>
                </div>
                <div>
                    <p class="text-white paragraph-md font-secondary">{{ site.data.settings.address }}</p>
                </div>
            </div>
        </div>
        <div class="border-top text-center border-dark py-5">
            <p class="mb-0 text-light">&copy; {{ "now" | date: "%Y" }} - Takk Treats</p>
            <p class="mb-0 text-light">Social coming</p>
        </div>
    </div>
</div>

<!-- JS Plugins -->
{% for js in site.data.plugins.js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}

<!-- Popper.js Fix -->
<script src="https://unpkg.com/@popperjs/core@2"></script>

<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>