<!-- welcome section -->
<div class="welcome">
    <div class="d-flex align-items-center welcome-wrapper">
        <div class="item">
            <h3>Welcome to Takk!</h3>
            <p class="align-middle">Takk is a word that means "thanks" in Norwegian. Takk Treats is about gratefulness and how you feel it most when you're sharing good food with friends. To that end, we create sweet treats. Selecting beautiful ingredients. Crafting with love. Proudly serving Nashville, TN.</p>
        </div>
        <div class="item">
            <img class="rounded-circle" src="/assets/images/birthday-cake.jpg" />
        </div>
    </div>
</div>